*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    margin:3rem;
}

.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imagen-producto{
    object-fit: cover;
   
}


.loading{
    text-align: center;
    font-size: 1.3rem;
}

#btn-decrement{
 margin: 3px;
 background-color: black;
 color:white;
}

#btn-increment{
 margin:3px;
 background-color: black;
 color: white;
}

#cart-container-product h1{
    text-align: center;
    
}

.carrito-info{
    text-align: center;
    font-size: 1.6rem;
    margin:3rem;
}

.container-cart{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.price-total{
    text-align: center;
    font-size: 1.6rem;
    margin: 30px;
}
.container {
    text-align: center; 
  }
  
  .main-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    max-width: 300px; 
    margin: 0 auto; 
  }
  
  input {
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    font-size: 16px;
  }
  
  .enviar {
    background-color: orange; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .enviar:hover {
    background-color: yellowgreen; 
  }

  .finally-order{
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 30px;
    
  }
  
  .finally-order button{
    background-color: orange;
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    
  }
  .container-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }

