*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.contenedor-productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
h2{
    text-align: center;
    margin:3rem;
}

.detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.imagen-producto{
    object-fit: contain;
    width: 350px;
    height: 350px;
}


.loading{
    text-align: center;
    font-size: 1.3rem;
}

#btn-decrement{
 margin: 3px;
 background-color: black;
 color:white;
}

#btn-increment{
 margin:3px;
 background-color: black;
 color: white;
}

#cart-container-product h1{
    text-align: center;
    
}

.carrito-info{
    text-align: center;
    font-size: 1.6rem;
    margin:3rem;
}

#cart-container-product ul{
    display: flex;
    gap:2rem;
}

.price-total{
    text-align: center;
    font-size: 1.6rem;
}

.finally-order {
   display: grid;
   border-radius: 50px;
   padding: 0.3rem;
   
}

.conteiner-order{
    display: flex;
    justify-content: center;
}